.footer{
    /* border: 2px solid green; */
    background-color:#556a89;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5rem 0;
}
.foot_div{
    height: 25vh;
    width: 180px;
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.foot_div>h1{
    margin: 1rem 0;
}
.foot_div>p{
    font-size: 14px;
}
.last>p{
    color: #fff;
    font-family: 'Mulish', sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 2rem;
    margin-left: 2%;

}